<div class="row text-center">
	<div class="col-xs-3">
		<%= link_to '<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>'.html_safe + 'Back', sparql_queries_path %>
	</div>
	<div class="col-xs-6">	
		<h1>Editing Sparql Query</h1>
	</div>
	<div class="col-xs-3">
		<%= link_to '<span class="glyphicon glyphicon-search" aria-hidden="true"></span>'.html_safe + ' Show', @sparql_query %>
	</div>
</div>

<%= render 'form' %>

<%= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'manifest/sparqlQueries/form', 'data-turbolinks-track' => false %>

<script>
  $('document').ready(function() { 
      // $("textarea").each(function() {
      //   CodeMirror.fromTextArea($(this).get(0), {
      //     lineNumbers: true,
      //     theme: "hopscotch",
      //     mode: "sparql"
      //   });
      // });
    $('#sparql_query_sparql_endpoint_id').addClass('selectpicker');
    $('.selectpicker').selectpicker({width: '100%', liveSearch: true});
    $('.selectpicker').selectpicker('refresh');
  });
</script>