
<% if flash[:notice] %>
  <h5 class="alert alert-success text-center"><%= flash[:notice] %></h5>
<% end %>

<% if flash[:alert] %>
  <h5 class="alert alert-danger text-center"><%= flash[:alert] %></h5>
<% end %>

<div class="text-center">
  <h1>Browse Sparql Queries</h1>
</div>
<hr/>

<% if user_signed_in? %> 
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><h4>My Sparql Queries</h4></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <%= link_to new_sparql_query_path do %>
              <button class="btn btn-primary btn-block">
                New Sparql Query
              </button>
            <% end %>
          </div>

          <!-- 
          See assets/javascripts/SparqlQueries/showAll.js for 
          code that was once used to filter queries using the search bar
          -->
          <div class="col-xs-6">
            <input type="text" class="form-control" id="currentUserSearchByName" placeholder="Search by Name">
          </div> 
        </div>
      </div>

      <table class="table" id="currentUserQueryData">
        <% @sparql_queries.each do |sparql_query| %>
          <tr id="currentUserQueryRow">
              <td class="text-center">
                <div class="row">
                  <div class="col-xs-8 col-lg-9">
                    <%= link_to sparql_query do %>
                      <button class="btn btn-default btn-block">
                        <%= sparql_query.name %>
                      </button>
                    <% end %>
                  </div>
                  <div class="col-xs-4 col-lg-3">
                    <%= link_to visualizer_url(id: sparql_query.id) do %>
                      <button class="btn btn-success btn-block">
                        Visualize
                      </button>
                    <% end %>
                  </div>
                </div>
              </td>
          </tr>
        <% end %>
      </table>
      <div class="panel-footer text-center">
        <!-- Pagination occurs after 15 queries are available -->
        <%= will_paginate @sparql_queries, :param_name => 'my_queries' %>
      </div> 
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>Other Users' Sparql Queries</h4>
      </div>
      
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" class="form-control" id="otherUserSearchByName" placeholder="Search by Name">
          </div> 
          
          <div class="col-xs-6">
            <input type="text" class="form-control" id="otherUserSearchByEmail" placeholder="Search by Email">
          </div> 
        </div>
      </div>

      <table class="table" id="otherUsersQueryData">
        <% @other_users_sparql_queries.each do |sparql_query| %>
          <tr id="otherUsersQueryRow">
            <td class="text-center">
              <div class="row">
                <div class="col-xs-8  col-lg-9">
                  <%= link_to sparql_query do %>
                    <button class="btn btn-default btn-block" id="queryName">
                      <%= sparql_query.name %>
                    </button>
                  <% end %>
                  
                  <small>
                    Created By: 
                    <span  id="userEmail">
                      <%= sparql_query.user.email %>
                    </span>
                  </small>
                </div>
                <div class="col-xs-4  col-lg-3">
                  <%= link_to visualizer_url(id: sparql_query.id) do %>
                    <button class="btn btn-success btn-block">
                      Visualize
                    </button>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
     <div class="panel-footer text-center">
        <%= will_paginate @other_users_sparql_queries, :param_name => 'not_my_queries' %>
      </div> 
    </div>
    </div>
  </div>
</div>


<% else %> 
<!-- The following is displayed when the user is not logged in -->

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h4>All Sparql Queries</h4>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" class="form-control" id="notLoggedInSearchByName" placeholder="Search by Name">
          </div> 
          
          <div class="col-xs-6">
            <input type="text" class="form-control" id="notLoggedInSearchByEmail" placeholder="Search by Email">
          </div> 
        </div>
      </div>

      <table class="table" id="notLoggedInQueryData">
        <% @not_signed_in_queries.each do |sparql_query| %>
          <tr id="notLoggedInQueryRow">
            <td class="text-center">
              <div class="row">
                <div class="col-xs-8 col-sm-9 col-md-10">
                  <%= link_to sparql_query do %>
                    <button class="btn btn-default btn-block" id="queryName">
                      <%= sparql_query.name %>
                    </button>
                  <% end %>
                  
                  <small>
                    Created By: 
                    <span  id="userEmail">
                      <%= sparql_query.user.email %>
                    </span>
                  </small>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-2">
                  <%= link_to visualizer_url(id: sparql_query.id) do %>
                    <button class="btn btn-success btn-block">
                      Visualize
                    </button>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
     <div class="panel-footer text-center">
        <%= will_paginate @not_signed_in_queries, :param_name => 'not_signed_in_queries' %>
      </div> 
    </div>
    </div>
  </div>
</div>
<% end %>