
<% if flash[:notice] %>
  <h5 class="alert alert-success text-center"><%= flash[:notice] %></h5>
<% end %>

<% if flash[:alert] %>
  <h5 class="alert alert-danger text-center"><%= flash[:alert] %></h5>
<% end %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @sparql_queries.each do |sparql_query| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= sparql_query.id %>">
        <h4 class="panel-title">

          <%# if @sparql_queries.first == sparql_query %>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= sparql_query.id %>" aria-expanded="true" aria-controls="collapse<%= sparql_query.id %>">
          <%# else %>
            <!-- <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= sparql_query.id %>" aria-expanded="false" aria-controls="collapse<%= sparql_query.id %>"> -->
          <%# end %>
            <button class="btn btn-block"><%= sparql_query.name %></button>
          </a>
        </h4>
      </div>
      <div 
        id="collapse<%= sparql_query.id %>" 
        class="panel-collapse collapse 
          <%# if @sparql_queries.first == sparql_query %>
            in
          <%# end %>" 
        role="tabpanel" 
        aria-labelledby="heading<%= sparql_query.id %>"
      >
        <div class="panel-body">
          <div class="row" id="queryRow">
              
              <!-- Prevent a user from editing/deleting a different user's query -->
              <% if current_user.id == sparql_query.user.id %> 
                <div class="col-xs-12">
                  <%#= render 'form_for_edit' %>
                  <%= bootstrap_form_for(sparql_query) do |f| %>
                    <div class="form-group">
                      <%= f.text_field :name %>
                    </div>
                    <div class="form-group">
                      <%= f.text_area :query, id:"codeMirrorForm"%>
                    </div>
                    <div class="form-group">
                      <%= f.collection_select(:sparql_endpoint_id, @sparql_endpoints, :id, :name, {prompt: "Select a sparql endpoint"}) %>
                    </div>

                    <div class="col-xs-8 col-sm-10">
                      <div class="form-actions">
                        <input name="commit" value="Save" type="submit" class="btn btn-default btn-block btn-primary">
                      </div>
                    </div>

                    <div class="col-xs-4 col-sm-2">
                      <%= link_to sparql_query, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <button class="btn btn-danger btn-block">Delete!</button>
                      <% end %>
                    </div>
                  <% end %>
                  
                </div>

                <!-- <div class="col-xs-2">
                  <%#= link_to edit_sparql_query_path(sparql_query) do %>
                    <button class="btn btn-info">Edit</button>
                  <%# end %>
                </div> -->
                
              <% else %>
                <div class="col-xs-12">
                  <textarea><%= sparql_query.query %></textarea>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>  
</div>

<div id="newQueryForm" class="collapse">
  <div class="well"><%= render 'form_for_new_child' %></div>
</div>

<div id="newEndpointForm" class="collapse">
  <div class="well"><%= render 'sparql_endpoints/form' %></div>
</div>



<div class="row">
  <% if current_user.id == @sparql_queries.first.user.id %>
    <div class="col-xs-12 col-sm-4">
          <button class="btn btn-info btn-xs btn-block" data-toggle="collapse" data-target="#newQueryForm">
            New Sparql Query
          </button>
    </div>
    <div class="col-xs-12 col-sm-4">
          <button class="btn btn-info btn-xs btn-block" data-toggle="collapse" data-target="#newEndpointForm">
            New Sparql Endpoint
          </button>
    </div>
  <% end %>

  <div class="col-xs-12 col-sm-4">
    <%= link_to sparql_queries_path do %>
      <button class="btn btn-default btn-xs btn-block">Back to Browse</button>
    <% end %>
  </div>
</div>

