
<%# flash.each do |name, msg| %>
  <%#= content_tag :div, msg, class: "alert alert-info" %>
<%# end %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol-debug.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.css">

<div class="row">
  <div class="col-lg-4 col-xs-12 sideBar">
    	<%#= render "left" %>
      <div class="well">
        <button class="btn btn-success btn-sm" id="refreshBtn">
          Refresh
        </button>
        <button class="btn btn-success btn-sm" id="removeAllTabsBtn">
          Remove All Data Tabs
        </button>
      </div>
    	<div id="menu"></div>
  </div>
  
  <div class="col-lg-8 col-xs-12 mapOuterDiv">
    <%= render "right" %>
  </div>
</div>

<%= javascript_include_tag 'visualizerManifest', 'data-turbolinks-track' => false %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol-debug.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>


<script type='text/javascript'>
var ready = function() {

  // var sparqlObjects = [
  //   {
  //     queryName: undefined,
  //     originalQuery: undefined,
  //     cleanedQuery: undefined,
  //     endpointName: undefined,
  //     endpoint: undefined,
  //     menuSelector: undefined,
  //     menuGroupSelector: undefined,
  //     submitBtnSelector: undefined,
  //     nodes : [
  //       {
  //         menuSelectorID: undefined,
  //         substring: undefined,
  //         domType: undefined,
  //         parsedArguments: undefined,
  //         dataToInsert: undefined
  //       }
  //     ]
  //   }
  // ];

  var sparqlObjects = [];
  var queryResponses = [];
  var menuGroupSelectorID = 0;

  <% @sparql_queries.each do |sparql_query| %>

    var sparqlObject = {
      queryName: '<%= sparql_query.name %>',
      originalQuery: '<%= j sparql_query.query.squish.html_safe %>',
      cleanedQuery: undefined,
      endpointName: '<%= j sparql_query.sparqlEndpoint.name %>',
      endpoint: '<%= j sparql_query.sparqlEndpoint.endpoint %>',
      menuSelector: '#menu',
      menuGroupSelector: 'menuGroup'+menuGroupSelectorID,
      submitBtnSelector: 'btn'+menuGroupSelectorID,
      nodes: []
    }

    sparqlObjects.push(sparqlObject);
    menuGroupSelectorID++;
  <% end %>

  // console.log("before buildMenu");
  // console.log(sparqlObjects);
  
  buildMenu(sparqlObjects, queryResponses);
  // console.log("after buildMenu");
  // console.log(sparqlObjects);

  $('#refreshBtn').click(function () { 
    location.reload(false); // refresh the current page
  });

  // remove all of the nav tabs that build up above the map
  $('#removeAllTabsBtn').click(function () { 
    removeAllDataTabs(sparqlObjects); 
  });
}
$(document).ready(ready);
$(document).on('page:load', ready);

</script>