
<%# flash.each do |name, msg| %>
  <%#= content_tag :div, msg, class: "alert alert-info" %>
<%# end %>

<div class="row">
  <div class="col-lg-4 col-xs-12 sideBar">
    	<%#= render "left" %>
    	<span id="menu"></span>
  </div>
  
  <div class="col-lg-8 col-xs-12 mapOuterDiv">
    <%= render "right" %>
  </div>
</div>

<%= javascript_include_tag 'visualizerManifest', 'data-turbolinks-track' => false %>

<script type='text/javascript'>
var ready = function() {

  // var sparqlObjects = [
  //   {
  //     queryName: undefined,
  //     originalQuery: undefined,
  //     cleanedQuery: undefined,
  //     endpointName: undefined,
  //     endpoint: undefined,
  //     menuSelector: undefined,
  //     menuGroupSelector: undefined,
  //     submitBtnSelector: undefined,
  //     nodes : [
  //       {
  //         menuSelectorID: undefined,
  //         substring: undefined,
  //         domType: undefined,
  //         parsedArguments: undefined,
  //         dataToInsert: undefined
  //       }
  //     ]
  //   }
  // ];

  var sparqlObjects = [];
  var queryResponses = [];
  var menuGroupSelectorID = 0;

  <% @sparql_queries.each do |sparql_query| %>

    var sparqlObject = {
      queryName: '<%= sparql_query.name %>',
      originalQuery: '<%= j sparql_query.query.squish.html_safe %>',
      cleanedQuery: undefined,
      endpointName: '<%= j sparql_query.sparqlEndpoint.name %>',
      endpoint: '<%= j sparql_query.sparqlEndpoint.endpoint %>',
      menuSelector: '#menu',
      menuGroupSelector: 'menuGroup'+menuGroupSelectorID,
      submitBtnSelector: 'btn'+menuGroupSelectorID,
      nodes: []
    }

    sparqlObjects.push(sparqlObject);
    menuGroupSelectorID++;
  <% end %>

  console.log("before buildMenu");
  console.log(sparqlObjects);
  
  buildMenu(sparqlObjects, queryResponses);
  console.log("after buildMenu");
  console.log(sparqlObjects);
}
$(document).ready(ready);
$(document).on('page:load', ready);
</script>