
<!-- CDN for openlayers 3, use npm install openlayers3 to get minified/local version -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol-debug.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.css">

<div class="row">
  <div class="col-lg-4 col-xs-12 sideBar">
      <div class="well">
        <button class="btn btn-success btn-sm" id="refreshBtn">
          Refresh
        </button>
        <button class="btn btn-success btn-sm" id="removeAllTabsBtn">
          Remove All Data Tabs
        </button>
      </div>

      <!-- 
        See assets/javascripts/visualizer/guiBuilder.js 
        This is built dynamically.
        Be careful of side effects when changing guiBuilder.js
      -->
    	<div id="menu"></div>
  </div>
  
  <div class="col-lg-8 col-xs-12 mapOuterDiv">
    <%= render "right" %>
  </div>
</div>

<%= javascript_include_tag 'visualizerManifest', 'data-turbolinks-track' => false %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol-debug.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>


<script type='text/javascript'>
var ready = function() {

  // this is an example of what the sparqlObjects object ends up
  // looking like after data is added to it throughout the guiBuilder.js process
  // For more documentation see app/assets/javascripts/visualizer/guiBuilder.js

  // var sparqlObjects = [
  //   {
  //     queryName: undefined,
  //     originalQuery: undefined,
  //     cleanedQuery: undefined,
  //     codeMirrorQuery: undefined,
  //     endpointName: undefined,
  //     endpoint: undefined,
  //     menuSelector: undefined,
  //     menuGroupSelector: undefined,
  //     submitBtnSelector: undefined,
  //     nodes : [
  //       {
  //         menuSelectorID: undefined,
  //         substring: undefined,
  //         domType: undefined,
  //         parsedArguments: undefined,
  //         dataToInsert: undefined
  //       }
  //     ]
  //   }
  // ];

  var sparqlObjects = [];
  var queryResponses = [];
  var menuGroupSelectorID = 0; // used to avoid id collisions (give unique ids)

  <% @sparql_queries.each do |sparql_query| %>

    var sparqlObject = {
      queryName: '<%= sparql_query.name %>',
      originalQuery: '<%= j sparql_query.query.squish.html_safe %>',
      cleanedQuery: undefined,
      queryWithNewlineCharacters: '<%= j sparql_query.query %>',
      codeMirrorQuery: '<%= j sparql_query.query %>',
      endpointName: '<%= j sparql_query.sparqlEndpoint.name %>',
      endpoint: '<%= j sparql_query.sparqlEndpoint.endpoint %>',
      menuSelector: '#menu',
      menuGroupSelector: 'menuGroup'+menuGroupSelectorID,
      submitBtnSelector: 'btn'+menuGroupSelectorID,
      navListTabID: [],
      nodes: []
    }

    sparqlObjects.push(sparqlObject);
    menuGroupSelectorID++;
  <% end %>
  
  buildMenu(sparqlObjects, queryResponses);

  $('#refreshBtn').click(function () { 
    location.reload(false); // refresh the current page
  });

  // remove all of the nav tabs that build up above the map
  $('#removeAllTabsBtn').click(function () { 
    removeAllDataTabs(sparqlObjects); 
    jQuery('#mapTabID')[0].click(); // navigate back to map tab
  });
}

$(document).ready(ready);
$(document).on('page:load', ready); // necessary if using turbolinks

</script>