

<% if flash[:notice] %>
  <h5 class="alert alert-success text-center"><%= flash[:notice] %></h5>
<% end %>

<% if flash[:alert] %>
  <h5 class="alert alert-danger text-center"><%= flash[:alert] %></h5>
<% end %>

<div class="text-center">
  <h1>Browse Sparql Endpoints</h1>
</div>
<hr/>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><h4>My Sparql Endpoints</h4></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-3">
            <%= link_to new_sparql_endpoint_path do %>
              <button class="btn btn-primary btn-xs">
                New Sparql Endpoint
              </button>
            <% end %>
          </div>
        </div>
      </div>

      <table class="table">
        <% @sparql_endpoints.each do |sparql_endpoint| %>
          <tr id="queryRow">
              <td class="text-center">
                <div class="row">
                  <div class="col-md-4 col-xs-12">
                    <h5><%= link_to sparql_endpoint.name, edit_sparql_endpoint_path(sparql_endpoint) %></h5>
                  </div>
                  <div class="col-md-8 col-xs-12">
                    <p><%= sparql_endpoint.endpoint %></p>
                  </div>
                </div>
              </td>
          </tr>
        <% end %>
      </table>
      <!-- <div class="panel-footer text-center">
        Add pagination
      </div> -->
    </div>
    
  </div>

  <div class="col-xs-12 col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading text-center"><h4>Other Users' Sparql Endpoints</h4></div>
      <!-- <div class="panel-body">
        <div class="col-xs-6 text-center">
          <div class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" id="searchBar" placeholder="Search">
            </div>
          </div>
        </div>
      </div> -->

      <table class="table" id="otherQueryData">
        <% @other_users_sparql_endpoints.each do |sparql_endpoint| %>
          <tr id="queryRow">
            <td class="text-center">
              <h5><%= sparql_endpoint.name %></h5>
            </td>
            <td class="col-xs-6">
              <p><%= sparql_endpoint.endpoint %></p>
            </td>
          </tr>
        <% end %>
      </table>
     <!--  <div class="panel-footer text-center">
        Add pagination
      </div> -->
    </div>
  </div>
</div>