

<p id="notice"><%= notice %></p>

<h1>Listing Sparql Endpoints</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sparql_endpoints.each do |sparql_endpoint| %>
      <tr>
        <td><%= sparql_endpoint.name %></td>
        <td><%= sparql_endpoint.endpoint %></td>
        <td><%= link_to 'Show', sparql_endpoint %></td>
        <td><%= link_to 'Edit', edit_sparql_endpoint_path(sparql_endpoint) %></td>
        <td>
          <%= link_to sparql_endpoint, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-danger">Delete!</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sparql endpoint', new_sparql_endpoint_path %>

<%= javascript_include_tag 'manifest/sparqlQueries/general', 'data-turbolinks-track' => false %>