

<% if flash[:notice] %>
  <h5 class="alert alert-success text-center"><%= flash[:notice] %></h5>
<% end %>

<% if flash[:alert] %>
  <h5 class="alert alert-danger text-center"><%= flash[:alert] %></h5>
<% end %>

<%= @sparql_endpoint.name %>
<%= @sparql_endpoint.endpoint %>

<%= link_to 'Edit', edit_sparql_endpoint_path(@sparql_endpoint) %> |
<%= link_to 'Back', sparql_endpoints_path %>